services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"

    networks:
      - my-network

  kong-dbless:
    image: 'kong/kong-gateway'
    container_name: kong-dbless
    # read_only: true
    restart: unless-stopped
    networks:
      - my-network

    volumes:
      - ./services/api-gateway/config:/kong/declarative
      # - kong_tmp:/tmp      
      # - kong_prefix:/var/run

    environment:
      # KONG_PREFIX: /var/run/kong
      KONG_DATABASE: off
      KONG_DECLARATIVE_CONFIG: /kong/declarative/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_ADMIN_GUI_URL: http://localhost:8002


    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
      - "8444:8444"
      - "8002:8002"

    depends_on:
      - rabbitmq

  auth-service:
    build: ./services/auth-service
    ports:
      - "3001:3001"
    env_file:
      - ./services/auth-service/.env
    networks:
      - my-network
    depends_on:
      - rabbitmq
      - kong-dbless

  task-service:
    build: ./services/task-service
    ports:
      - "3004:3004"
    env_file:
      - ./services/task-service/.env
    networks:
      - my-network
    depends_on:
      - rabbitmq
      - kong-dbless

  user-service:
    build: ./services/user-service
    ports:
      - "3002:3002"
    env_file:
      - ./services/user-service/.env
    networks:
      - my-network
    depends_on:
      - rabbitmq
      - kong-dbless

  team-service:
    build: ./services/team-service
    ports:
      - "3003:3003"
    env_file:
      - ./services/team-service/.env
    networks:
      - my-network
    depends_on:
      - rabbitmq
      - kong-dbless




networks:
  my-network:
    driver: bridge





