_format_version: "3.0"

services:
  - name: user-service
    url: "http://user-service:3002"
    routes:
      - name: "user-route"
        paths:
          - /user
        strip_path: false


  - name: auth-service
    url: "http://auth-service:3001"
    routes:
      - name: "auth-route"
        paths:
          - /auth
        strip_path: false


  - name: task-service
    url: "http://task-service:3004"
    routes:
      - name: "task-route"
        paths:
          - /task
        strip_path: false


  - name: team-service
    url: "http://team-service:3003"
    routes:
      - name: "team-route"
        paths:
          - /
        strip_path: false

plugins:
  - name: cors
    config:
      origins: ["*"]
      methods: ["GET", "POST", "PUT", "PATCH", "DELETE", "OPTIONS"]
      headers: ["Authorization", "Content-Type"]
      exposed_headers: ["Authorization"]
      credentials: true
      max_age: 3600
