_format_version: "3.0"

services:
  - name: app3
    url: "http://app3:3000"
    routes:
      - name: app3-route
        paths:
          - /app3

    plugins:
      - name: cors
        config:
          origin:
          - "http://*"
          methods:
          - GET
          - POST
      - name: rate-limiting
        config:
          second: 5
          hour: 10
          policy: local



