_format_version: "3.0"

services:

    # 3 here for each service we implement a route ,
    # where lets say we get : GET http://localhost:8000/user/profile
    # we redirect to http://use-service:3003/user/profile

  - name: user-service
    url: "http://user-service:3003"
    routes:
      - name: "user-route"
        paths:
          - /user

  - name: auth-service
    url: "http://auth-service:3001"
    routes:
      - name: "auth-route"
        paths:
          - /auth

  - name: task-service
    url: "http://task-service:3004"
    routes:
      - name: "task-route"
        paths:
          - /task

  - name: team-service
    url: "http://team-service:3002"
    routes:
      - name: "team-route"
        paths:
          - /team



 